.ebook-wrapper {
  height: calc(100% - 66px);
}

.controls {
  display: flex;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 50px;


  .page-controls-wrapper {
    display: flex;
    justify-content: flex-start;

    .page-down {
      cursor: pointer;
      height: 42px;
      width: 55px;
      font-size: 25px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border: 1px solid gray;
      padding-bottom: 5px;
      text-decoration: none;
      line-height: 35px;
      text-align: center;
      background-color: #55c2da;
      color: blue;
    }

    .page-now {
      height: 42px;
      width: 150px;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      background-color: rgb(224, 224, 224);
      border: 1px solid gray;
      border-left: none;
      border-right: none;
      line-height: 40px;
    }

    .page-up {
      cursor: pointer;
      height: 42px;
      width: 55px;
      font-size: 25px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border: 1px solid gray;
      text-align: center;
      text-decoration: none;
      line-height: 35px;
      background-color: #55c2da;
      margin-right: 25px;
      color: blue;
    }
  }

  .dropbtn {
    background-color: #55c2da;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #6ab7ea;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .game-drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .game-drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
}

.content-wrapper {
  position: relative;
  height: 100%;
}

.none {
  display: none;
}

.hard-card {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.studied-card {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.word-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-right: 20px;
  border: 1px solid gray;
  border-radius: 6px;

  &:last-child {
    margin-bottom: 100px;
  }

  .auth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .set-hard-word-wrapper {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: 50%;
      margin: 20px 0;

      &.difficult {
        background-color: #fff;

        .set-hard-word {
          filter: invert(17%) sepia(29%) saturate(6977%) hue-rotate(214deg) brightness(83%) contrast(109%);
        }
      }

      .set-hard-word {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }

      .title {
        display: none;
      }

      &:hover {
        background-color: rgb(227, 219, 219);


        .title {
          position: absolute;
          top: 0px;
          left: -160px;
          display: block;
          width: 150px;
          color: #000;
          background-color: rgb(227, 219, 219);
          padding: 6px 12px;
          text-align: center;
          border-radius: 5px;
          font-size: 18px;
        }
      }
    }

    .set-studied-word-wrapper {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: 50%;
      margin: 20px 0;

      &.studied {
        background-color: #fff;

        .set-studied-word {
          filter: invert(30%) sepia(89%) saturate(1552%) hue-rotate(156deg) brightness(92%) contrast(101%);

        }
      }

      .set-studied-word {
        cursor: pointer;
        width: 24px;
        height: 24px;

      }

      .title {
        display: none;
      }

      &:hover {
        background-color: rgb(227, 219, 219);


        .title {
          position: absolute;
          top: 0;
          left: -160px;
          display: block;
          width: 150px;
          color: #000;
          background-color: rgb(227, 219, 219);
          padding: 6px 12px;
          text-align: center;
          border-radius: 5px;
          font-size: 18px;
        }
      }
    }

  }

  .none {
    display: none;
  }

  .left-wrapper {
    display: flex;

    .word-img {
      max-width: 300px;
      min-height: 200px;
      margin-right: 12px;
    }

    .stars-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 12px;

      .checked {
        color: orange;
        text-align: center;
      }
    }

    .word-main {
      padding-right: 40px;

      .word-header {
        margin-bottom: 12px;

        .word-and-transcription {
          display: flex;
          align-items: center;
          font-size: 34px;
          font-weight: 500;

          .play-btn {
            cursor: pointer;
            margin: 0 25px;
            padding-top: 6px;
            width: 35px;
            height: 35px;
          }
        }

      }

      .word-translate {
        margin-bottom: 15px;
        font-size: 26px;
      }

      .text-example {
        margin-top: 20px;
      }

      .text-example,
      .text-meaning,
      .text-meaning-translate,
      .text-example-translate {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding-right: 0;

    .left-wrapper {
      position: relative;
      flex-direction: column;
      width: 100%;

      .word-img {
        margin: 0;
        max-width: 100%;
        max-height: 300px;
      }

      .stars-wrapper {
        margin: 20px 0;
      }

    }

    .auth-block {
      flex-direction: row;

      .set-hard-word-wrapper {
        margin: 20px 40px;
      }

      .set-studied-word-wrapper {
        margin: 20px 40px;
      }
    }
  }

}