.signup-name-label,
.signup-email-label,
.signup-password-label,
.signin-email-label,
.signin-password-label {
    font-family: 'PT Serif';
}

.signin-wrapper,
.signup-wrapper {
    margin-top: 23.3vh;
}

.signin-button,
.signup-button {
    margin-top: 10px;
}