.statistics-wrapper {
    margin: 5vh auto 0 auto;
    width: fit-content;
    padding-bottom: 20vh;
}

.statistics-wrapper p {
    margin-bottom: 10px;
    font-family: 'PT Serif';
    font-size: 18px;
}

.statistics-wrapper .statistic-group-title {
    margin-bottom: 15px;
    font-family: 'PT Serif';
    font-size: 24px;
}

.ct-label.ct-vertical.ct-start,
.ct-label.ct-horizontal.ct-end {
    font-family: 'PT Serif';
    font-size: 16px;
}

.ct-label.ct-vertical.ct-start {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
    display: flex;
}

.ct-grid.ct-vertical,
.ct-grid.ct-horizontal {
    stroke: #000000;
    opacity: 0.2;
}

.ct-line {
    width: 40vw;

    @media(max-width: 1280px) {
        width: 50vw;

        .ct-label.ct-horizontal.ct-end {
            font-size: 14px;
        }
    }

    @media(max-width: 768px) {
        width: 90vw;

        .ct-label.ct-horizontal.ct-end {
            font-size: 11px;
        }
    }

    @media(max-width: 375px) {
        width: 100vw;

        .ct-label.ct-horizontal.ct-end {
            font-size: 9px;
        }
    }
}